@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {

    /* Colors */

    --primary: #8564d7;

    /* Dimensions */

    --space-medium: 20px;
}

* {
    font-family: Roboto, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#root, #shell {
    width: 100%;
    height: 100%;
}

#shell {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

#editor {
    flex-grow: 1;
}

#inputs {

}

.node {
    width: 150px;
    height: 75px;
    border: 5px solid var(--primary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    position: relative;
}

.input {


}